.App {
  min-height: 100vh;
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #6b8dd6 48%,
    #8e37d7 100%
  );
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #2b5876;
  border: none;
  font-weight: 700;
  color: white;
  padding: 10px 20px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
